.ct-customer-connected-message {

  .sw-alert__body--icon{
    padding: 9px 60px
  }


  .sw-alert__icon {
    top: 14px;
  }

  .sw-icon {
    width: 20px;
    height: 20px;
  }
  .sw-alert__body {
    .sw-alert__title {
      margin-bottom: 1px;
      margin-top: 2px;
    }
  }


}