{% block sw_settings_user_detail_content_password %}
    <pre v-text="user"></pre>
    <pre v-text="selectedCustomerId"></pre>

    {% parent %}

{#    <ct-admin-customer-manager :user="user?.customFields?.easy_cms_management"></ct-admin-customer-manager>#}

    <sw-entity-single-select entity="customer" v-model:value="selectedCustomerId" labelProperty="email"></sw-entity-single-select>

{% endblock %}

{#{% block sw_settings_user_detail_grid_content_acl_is_admin %}#}
{#    {% parent %}#}

{#    <div>#}
{#        <sw-alert class="ct-customer-connected-message" :icon="false" variant="success" title="Hello world!" appearance="notification"></sw-alert>#}
{#    </div>#}
{#{% endblock %}#}